.app {
  .sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .header {
    padding: 0 16px;
    text-align: right;

    .user {
      display: inline-block;
      height: 50px;
    }

    .u-name {
      margin-right: 10px;
    }
  }

  .menu {
    min-height: 100vh;
  }

  .content {
    margin: 24px 16px 0;
    overflow: inherit;

    .wrap {
      padding: 24px;
      background-color: #fff;
    }
  }
}
